<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head.html'); %>
</head>

<body>
    <div class="container-fluid lh-lg">
        <header class="row"> 
            <!-- ================================ Menú navegación ======================================== -->
            <nav>
             <%- include ('partials/navigation.html'); %>
            </nav>
        </header>
        <!-- ============================================== 1 facilita-navegación ====================================================== -->
        <section class="row mt-5 p-5">
            <div class="col-12 ">
                <h1 class="text-center fw-bolder mt-5">Facilita la navegación en tu sitio</h1><br>
                <h2 class="text-center">La navegabilidad es muy importante para los motores de búsqueda</h2><hr><br>
            </div> 
            <!--------------------------------------- 1. parte izquierda ------------------------------------------------------------------>
            <div class="col-xl-6 col-lg-12 mt-5 text-justify">
                <h3 class="text-center">La navegabilidad de un sitio web es muy importante ya que ayuda a los
                    usuarios a encontrar rápidamente el contenido que desean ver.</h3><br>
                <ul>
                    <li>
                        <p>Además, ayuda a los motores de búsqueda a entender cuál
                            es el contenido que es importante. Y
                            aunque los resultados de búsqueda de Google se muestran a nivel
                            de página, a Google le gusta conocer el papel que juega una
                            página dentro de tu sitio web.</p><br>
                    </li>
                    <h3>Planifica la navegación basándote en la página de raíz o página principal</h3><br>
                    <li>
                        <p>Todos los sitios web tienen una página de inicio, normalmente es la más visitada ya que es el
                            punto de partida para la mayoría de usuarios. </p>               
                    </li>
                    <li>
                        <p>A menos que tu sitio sólo tenga unas pocas páginas (URLs), deberías planificar su estructura para ayudar 
                            a la navegación de los usuarios en cómo irán de la página principal (tu página raíz) a otras páginas 
                            que aloja un contenido más específico. </p><br>
                    </li>
                    <h3>Asegúrate de utilizar los enlaces de navegación</h3><br>
                    <li>Los enlaces de navegación son unas líneas de enlaces internos ubicados en la parte superior o inferior y que permite a los
                        usuarios moverse por las secciones visitadas con anterioridad o ir a la página de inicio (1). Muchas de estas líneas tienen 
                        la página más principal en primera posición y las secciones más específicas a la derecha</li>
                </ul>
            </div>
            <!--------------------------------------- 1. parte derecha ------------------------------------------------------------------>
            <div class="col-xl-6 col-lg-12 mt-5 align-self-center">
                <img src="./img/estructura_0.jpg" style="width:100%; height:auto" alt="enlaces de navegación"><hr>
            </div>

            <!--------------------------------------- 2. parte izquierda ------------------------------------------------------------------>
            <div class="col-xl-6 col-lg-12 mt-5 text-justify">
                <h3 class="text-center">Crea dos sitemaps: uno para los motores de búsqueda y otro para los usuarios</h3><br>
                <ul>
                    <li>
                        <p>Un mapa del sitio muestra la estructura de tu web, y normalmente
                            consiste en una lista jerárquica de las páginas que lo conforman.
                           </p><br>
                    </li>
                    <li>
                        <p> Los usuarios pueden ver en forma de indice todo el contenido que puede encontrar en nuestra web, 
                            y ayuda a encontrar alguna página determinada de nuestro sitio web.
                            </p><br>                     
                    </li>
                    <li>
                        <p> Los motores de búsqueda puede que también visiten estos enlaces para una mejor indexación de las páginas de la web.
                            Aunque esta página se crea principalmente para los usuarios.</p><br>
                    </li>
                </ul>
                 <div class="postit rounded" data-color="purple">
                    <p class="ps-3" ><b class="fs-3">Nota: </b>Facilita tanto como puedas a los usuarios ir desde un contenido más general a otro más
                        específico dentro de tu sitio web. Añade páginas que faciliten la navegación cuando tenga
                        sentido hacerlo y enlázalas de forma efectiva en la estructura interna de enlaces</p>
                </div>                                        
            </div>
            <!--------------------------------------- 2. parte derecha ------------------------------------------------------------------>
            <div class="col-xl-6 col-lg-12 mt-5 align-self-center">
                <img src="./img/estructura_1.jpg" style="width:100%; height:auto" alt="enlaces de navegación"><hr>
            </div>
            
           
        <!-- =================================================== 2 SECCIÓN =================================================================== -->
        <span class="square-line position-relative top-50 start-50 m-5 translate-middle"></span> 
        <div class="container">
            <section class="row ">
                
                <h2 class="text-center fw-bolder">Recomendaciones</h2>   
                <!--------------------------------------- 1. parte izquierda ------------------------------------------------------------------>
                <div class="postit col-md-6 col-lg-6 col-sm-12 mt-5 p-3 rounded-2" data-background="color" data-color="green">
                    <img class="col-lg-6 col-md-12 col-sm-12 ps-2" src="./img/robot_google.png" style="width:100px; height:100px">
                    <p class=" ps-4 w-75 fs-1 fw-bolder text-center text-decoration-underline d-inline-block align-top">SI hacer</p>
                    <ul class="ps-5 pt-3 w-100 d-inline-block align-top">
                        <li>
                            <h4>Crea etiquetas title únicas para cada página.</h4><br>
                        </li>
                        <li> 
                            <h4>Usar texto para la barra de navegación. Hace que para los motores de búsqueda sea más fácil rastrearlo 
                                y comprenderlo </h4><br>
                        </li>
                        <li>
                            <h4>Si un usuario puede acceder a todas las páginas de tu sitio a través de los enlaces
                                de texto, esto mejorará la accesibilidad del sitio</h4><br>
                        </li>
                    </ul>
                </div>
                <!--------------------------------------- 3. parte derecha ------------------------------------------------------------------>
                <div class="postit col-md-6 col-lg-6 col-sm-12 mt-5 p-3 rounded-2" data-background="color" data-color="red">
                    <img class="col-lg-6 col-md-12 col-sm-12 ps-2" src="./img/robot_triste_google.png" style="width:100px; height:100px">
                    <p class=" ps-4 w-75 fs-1 fw-bolder text-center text-decoration-underline d-inline-block align-top">NO hacer</p>
                    <ul class="ps-5 pt-3 w-100 d-inline-block align-top">
                        <li>
                            <h4> Crear enlaces de navegación complicados, p. ej., enlazando cada una de las páginas web(URLs) de tu
                                sitio con el resto.</h4><br>
                        </li>
                        <li>
                            <h4> Estructurar demasiado el contenido (de modo que te lleve quince o veinte clics llegar al último contenido)</h4><br>
                        </li>
                        <li>
                            <h4> Una barra de navegación que únicamente contenga menús desplegables, imágenes y
                                animaciones</h4><br>
                        </li>
                    </ul>
                </div>         
            </section>
        </div>

        <%- include('partials/footer.html') %>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js></script>
    <script srd=https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js></script>
</body>

</html>