<!doctype html>
<html lang="en">

<head>
    <title>ParodiaSeo</title>
    <%- include ('partials/head.html'); %>
</head>

<body>
    <div class="container-fluid lh-lg ">
        <header class="row"> 
            <!-- ================================ Menú navegación ======================================== -->
            <nav>
             <%- include ('partials/navigation.html'); %>
            </nav>
           
             <!-- ===================================== INTRO ================================================= -->
            <div class="intro text-center" id="home" style="width: 100%;">
                <div class="text-dark p-5 d-flex flex-column align-items-center lh-base" style="width: 100%;"> 
                    <p class="uno fs-4 border border-3 rounded-pill rounded-3 shadow-lg p-5 animate__animated animate__lightSpeedInLeft animate__slower 3s">¡Vaya! anda que no había páginas interesantes en las SERPS de Google y has venido a 
                        caer en esta página dejada de la mano de dios… <span class="fs-4 text-info">¡Menuda puntería, forastero!, </span> pero ya que estás, déjame darte al menos la <span class="fs-3 text-primary">bienvenida…</span></p><br>
                    <p class="dos fs-4 border border-3 rounded-pill rounded-3 shadow-lg p-5 animate__animated animate__lightSpeedInRight animate__slower 6s"><span class="fs-4 text-success">(y… ¡¡no se te ocurra cerrar ahora la página!!</span>, - te juro 
                        que si me sube el <b>bounce rate </b>por tu culpa en el <b>Analytics</b> - "te arranco los plugins de cuajo" y dejo tu WordPress que ni el <b>Chuiso</b> ni el <b>Romu</b> te lo rescatan del mismísimo <span class="text-danger fs-3">infierno SEO). 😉 </span> </p><br>
                    <p class="tres fs-4 border border-3 rounded-pill rounded-3 shadow-lg p-5 w-75 animate__animated animate__lightSpeedInLeft animate__slower 9s">Todo esto con amor y cariño, eh?, En fin, basta de basura <b>Above-the-Fold</b>… 
                        ¡Esta web sólo tiene de <span class="fs-3 text-light fw-bolder bt-dark">parodia su título!…</span>  Aquí vamos a explicar...</p>
                    <h1 class="cuatro border border-3 text-light bg-dark rounded-pill rounded-3 shadow-lg p-5 w-25 overflow-auto animate__animated animate__lightSpeedInLeft animate__slower 9s">en que consiste el <b>SEO</b>. 😊</h1> 
                </div> 
            </div>
        </header>

         <!-- ============================================== 1 Seo Básico ==== basic-seo ====================================================== -->
        <section class="row mt-2 d-flex" id="basic-seo">
            <div class="col-12 mb-5 text-center">
                <h2 class="fs-1 mt-5 fw-bolder text-decoration-underline"><span class="square"></span>Conceptos básicos del SEO
                </h2><br>
                <h4>¡Te explicaré diferentes cosas acerca de la <b>optimización para motores de búsqueda (SEO)!! </b> Una guía
                    básica para entender como funciona el SEO, siguiendo prácticas recomendadas que facilitará la indexación y
                    el
                    rastreo de tu web en Google!!
                </h4>
            </div>
            <div class="col-xl-5 col-lg-12 align-self-center">
                <div class="card m-3">
                    <a href="/seo"><img src="./img/que_es_el_seo.jpg" style="width:100%; height:100%" alt=""></a>
                </div>
                <br> <br>
            </div>
            <div class="col-xl-7 col-lg-12 text-center">
                <h3 class="fw-bold">¿Qué es el SEO?</h3><br>
                <p>La optimización para motores de búsqueda (SEO) es una de las principales ramas del marketing
                    online desde hace varios años, y su función es muy sencilla: el contenido de calidad y centrado
                    en el usuario consigue una mejor posición en los motores de búsqueda. </p>
                <a class="common-btn text-decoration-none" href="/seo" role="button">Leer más..</a>
            </div>
            <div class="col-xl-5 col-lg-12 order-xl-2 order-lg-1 align-self-center">
                <div class="card m-3">
                    <a href="/seo-principiantes"><img src="./img/seo_para_principiantes.jpg" style="width:100%; height:100%" alt=""></a>
                </div>
            </div>
            <div class="col-xl-7 col-lg-12 p-5 order-sm-2 order-xl-1 order-lg-2 p-5 text-center">
                <h3 class="fw-bold">SEO para principiantes</h3><br>
                <p>
                    Para que un sitio web tenga éxito, es importante que los clientes potenciales <b> puedan encontrarlo
                        fácilmente a través de motores de búsqueda como Google</b> y que esté en los <b>primeros puestos de los
                        resultados</b>.
                    <br>
                    Hemos reunido los términos más comunes cuando se habla de posicionamiento web.
                </p>
                <a class="common-btn text-decoration-none" href="/seo-principiantes" role="button">Leer más..</a>
            </div>
        </section>
                
                <!-- =============================================== 2 web-structure ==== Estructura Web ================================================= -->
                
                <section class="row mt-5" id="web-structure">
                    <span class="square-line position-relative top-50 start-50 mb-5 translate-middle"></span> 
                    <div class="col-12 text-center"> <h2 class="fs-1 mt-5 fw-bolder text-decoration-underline"><span class="square"></span>Mejora la estructura de la web</h2><br>
                <h4>¡Elige una URL que sea <b>fácil de entender para los usuarios y motores de búsqueda!!</b> <b>¡Para la navegación</b>, la atención debería ponerse
                    en la <b>simplicidad y facilidad de uso!</b></h4></div>
            <div class="col-xl-5 col-lg-12 align-self-center">
                <div class="card m-3" style="width: 100%; height:100%">
                    <a href="/facilita-navegacion"><img src="./img/Facilita_la_navegacion.jpg" style="width:100%; height: 100%;" alt=""></a>
                </div>
            </div>
            <div class="col-xl-7 col-lg-12 p-5 text-center">  
                <h3 class="fw-bold">Facilita la navegación en tu sitio</h3><br>
                <p>
                    La navegación del sitio web es importante, ya que ayuda a los usuarios a encontrar rápidamente el contenido que desean.
                    que los usuarios encuentren rápidamente el contenido que desean.
                    Debe pensar en cómo los usuarios llegarán de la página general (su página principal) a otra página.
                    (su página principal) a otra página con contenido más específico.. </p>
                    <a class="common-btn text-decoration-none" href="/facilita-navegacion" role="button">Leer más..</a>         
            </div>      
            <div class="col-xl-7 col-lg-12 order-sm-2 order-xl-1 order-lg-2 p-5 text-center">
                <h3 class="fw-bold">Las URL se muestran en los resultados de búsqueda</h3><br>
                <p>Recuerde que la URL del documento se muestra como parte del resultado de la búsqueda de Google después de
                    parte del resultado de la búsqueda de Google, después del título del documento y la descripción
                    del documento y el fragmento descriptivo. </p>
                    <button class="common-btn">Próximamente...</button>
            </div>
            <div class="col-xl-5 col-lg-12 order-xl-2 order-lg-1 align-self-center">
                <div class="card m-3" style="width: 100%; height:100%">
                    <img src="./img/url_mustran_resultados_busqueda.jpg"  style="height:100%; object-fit:cover" alt="">
                </div>           
            </div>  
        </section>

        <!-- ================================================= 3 optimization ==== Optimizar Contenido ==================================== -->
        <section class="row mt-5" id="optimization">
            <span class="square-line position-relative top-50 start-50 mb-5 translate-middle"></span> 
            <div class="col-12 text-center"> <h2 class="fs-1 mt-5 fw-bolder text-decoration-underline"><span class="square"></span>Ofrece contenido y servicios de calidad</h2><br>
                <h4>La creación de contenidos interesantes y útiles es probablemente el factor que más repercute 
                    en su sitio web.</h4>
            </div>
            <div class="col-xl-5 col-lg-12 align-self-center">
                <div class="card m-3" style="width: 100%; height:100%">
                    <img src="./img/anchortext.jpg" style="height:100%; object-fit:cover" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-lg-12 p-5 text-center">  
                <h3 class="fw-bold">Escribe textos ancla de mejor calidad</h3><br>
                <p>
                    Este texto indica a los usuarios y a Google algo sobre la página a la que se enlaza y
                    al que se vincula, en ambos casos, cuanto mejor sea el texto de anclaje, más fácil será para los usuarios moverse usuarios se muevan por tu página y más fácil 
                    será para Google averiguar cuál es la página a la que se enlaza. </p>
                <button class="common-btn">Próximamente...</button>       
            </div>      
            <div class="col-xl-7 col-lg-12 order-sm-2 order-xl-1 order-lg-2 p-5 text-center">
                <h3 class="fw-bold">Optimiza el uso de las imágenes</h3><br>
                <p>El atributo "alt" ofrecerá infromación de la imagen, permitiendo especificar el texto que puede aparecer en lugar de la imagen si ésta no se puede mostrar por alguna razón.
                    Otra motivo es que si utilizamos una imagen como enlace, el texto en "alt" se tratará de forma similar al texto de anclaje de un enlace. </p>
                    <button class="common-btn">Próximamente...</button>
            </div>
            <div class="col-xl-5 col-lg-12 order-xl-2 order-lg-1 align-self-center">
                <div class="card mr-5" style="width: 100%; height:100%">
                    <img src="./img/imageoptimization.jpg"  style="height:100%; object-fit:cover" alt="">
                </div>              
            </div>
        </section>

     <!-- ====================================================== 4 Bots ==== bots ======================================================== -->
        <section class="row mt-5" id="bots">
            <span class="square-line position-relative top-50 start-50 mb-5 translate-middle"></span> 
            <div class="col-12 text-center">
                <h2 class="fs-1 mt-5 fw-bolder text-decoration-underline"><span class="square"></span>Usando Bots (robots)
                </h2><br> 
                <h4>El archivo "robots.txt" indica a los motores de búsqueda qué partes de tu sitio pueden visitar y, por tanto
                    las que debe rastrear para indexarlas en los motores de búsqueda (Google).</b></h4>
            </div>
            <div class="col-xl-5 col-lg-12 align-self-center">
                <div class="card m-3" style="width: 100%; height:100%">
                    <img src="./img/botsrobots.jpg"
                        style="height:100%; object-fit:cover" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-lg-12 p-5 text-center">
                <h3 class="fw-bold">Utiliza métodos más seguros para los contenidos sensibles.</h3><br>
                <p>
                    No debe conformarse con bloquear material sensible o confidencial sólo con robots.txt. El motivo es que los motores de 
                    búsqueda pueden seguir haciendo referencia a estas URL bloqueadas (mostrando sólo la URL, sin título ni descripción) si hay 
                    enlaces a ellas.</b>.
                    <br>
                    Hemos reunido los términos más comunes cuando se habla de posicionamiento web.
                </p>
                <button class="common-btn">Próximamente...</button>    
            </div>
            <div class="col-xl-7 col-lg-12 order-sm-2 order-xl-1 order-lg-2 p-5 text-center">
                <h3 class="fw-bold">Debe tener en cuenta rel=“nofollow” para los enlaces</h3><br>
                <p>Al establecer el valor del atributo "rel" de un enlace como "nofollow", indica a Google que algunos <b>enlaces de su sitio no deben seguirse y no deben
                    traicionar la reputación de su sitio en las páginas que enlaza</b>. La configuración de un enlace como "nofollow" se realiza mediante la función
                    <b>rel="nofollow" en la etiqueta de anclaje</b>.</p>
                <button class="common-btn">Próximamente...</button>
            </div>
            <div class="col-xl-5 col-lg-12 order-xl-2 order-lg-1 align-self-center">
                <div class="card mr-5" style="width: 100%; height:100%">
                    <img src="./img/bots_spider.jpg" style="height:100%" alt="">
                </div>
            </div>
        </section>


        <!-- =================================================== 5 movil-seo === Seo Móviles ============================================== -->
        <section class="row mt-5" id="movil-seo">
            <span class="square-line position-relative top-50 mb-5 start-50 translate-middle"></span> 
            <div class="col-12 text-center">
                <h2 class="fs-1 mt-5 fw-bolder text-decoration-underline"><span class="square"></span>Comunica a Google tus sitios para móviles
                </h2><br>
                <h4>Configura tus sitios móviles con exactitud para que puedan ser indexados correctamente. </b></h4>
            </div>
            <div class="col-xl-5 col-lg-12 align-self-center">
                <div class="card m-3" style="width: 100%; height:100%">
                    <img src="./img/movil_lupa.jpg"
                        style="height:100%" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-lg-12 p-5 text-center">
                <h3 class="fw-bold">Comprueba que tu web para móvil está indexada por Google.</h3><br>
                <p>
                    Los sitios móviles utilizan un formato diferente en comparación con los sitios convencionales, los métodos de gestión 
                    y los conocimientos necesarios también son diferentes. Las comunicaciones móviles están en alza. Muchas personas 
                    utilizan sus teléfonos móviles a diario y hay un gran número de usuarios que buscan en la página de búsqueda móvil de Google.</b>.
                    <br>
                </p>
                <button class="common-btn">Próximamente...</button>  
            </div>
            <div class="col-xl-7 col-lg-12 order-sm-2 order-xl-1 order-lg-2 p-5 text-center">
                <h3 class="fw-bold">Desarrolla veriones de tu sitio web para ordenador y móviles</h3><br>
                <p>Uno de los problemas más comunes para los webmasters es que los usuarios que utilizan la versión de escritorio vean la versión móvil o que los usuarios 
                    que acceden al sitio a través de un dispositivo móvil vean la versión de escritorio </p>
                <button class="common-btn">Próximamente...</button>
            </div>
            <div class="col-xl-5 col-lg-12 order-xl-2 order-lg-1 align-self-center">
                <div class="card mr-5" style="width: 100%; height:100%">
                    <img src="./img/movil_web.jpg" style="height:100%" alt="">
                </div>
            </div>
        </section>

        <!-- ================================================ 6 publicidad ==== Publicidad ============================================ -->
        <section class="row mt-5" id="advertising">
            <span class="square-line position-relative top-50 mb-5 start-50 translate-middle"></span> 
            <div class="col-12 text-center">
                <h2 class="fs-1 mt-5 fw-bolder text-decoration-underline"><span class="square"></span>Promociona tu sitio correctamente </h2><br>
                <h4>Aumentar el número de enlaces entrantes a tu sitio web le otorgará más valor. </b></h4>
            </div>
            <div class="col-xl-5 col-lg-12 align-self-center">
                <div class="card m-3" style="width: 100%; height:100%">
                    <img src="./img/suscribete.jpg"
                        style="height:100%; object-fit:cover" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-lg-12 p-5 text-center">
                <h3 class="fw-bold">Envía notificaciónes para ganar suscriptores.</h3><br>
                <p>Promocionar eficazmente los contenidos permiten una difusión más rápida entre los interesados en el tema de tu sitio web.
                    La mayor parte de los enlaces a tu sitio aparecerán progresivamente a medida que la gente descubra su contenido a través de la
                    búsqueda u otras fuentes de enlazado externo.
                </b><br>
                </p>
                <button class="common-btn">Próximamente...</button>  
            </div>
            <div class="col-xl-7 col-lg-12 order-sm-2 order-xl-1 order-lg-2 p-5 text-center">
                <h3 class="fw-bold">Usa las redes sociales para promocionar tu sitio</h3><br>
                <p>Utilizar adecuadamente las redes sociales es fundamental. Crea campañas publicitarias para aumentar el tráfico y mejorar el posicionamiento 
                    de nuestra web en Google y las posibles ventas. </p>
                <button class="common-btn">Próximamente...</button>
            </div>
            <div class="col-xl-5 col-lg-12 order-xl-2 order-lg-1 align-self-center">
                <div class="card mr-5" style="width: 100%; height:100%">
                    <img src="./img/movil_redes_sociales.jpg" style="height:100%; object-fit:cover" alt="">
                </div>
            </div>
        </section>
        <br>
        
        <!-- ================================================ Comentarios ==== formulario ============================================ -->
        <section>
            <div class="container-fluid mt-5" id="contact">
                <span class="square-line position-relative top-50 mb-5 start-50 translate-middle"></span> 
                <div class="row">
                    <p class="fs-2 text-center mb-5">Comentarios</p>
                    <div class="col-xl-6 col-lg-12 order-xl-1 order-lg-1 align-self-center">
                        <form id="align-form ">
                            <div class="form-group">
                                <h4>Deja un comentario</h4> <label for="message">mensaje</label> <textarea name="msg" id="" msg cols="60" rows="15" class="form-control"></textarea>
                            </div>
                            <div class="form-group"> <label for="name">Nombre</label> <input type="text" name="name" id="fullname" class="form-control"> </div>
                            <div class="form-group"> <label for="email">Email</label> <input type="text" name="email" id="email" class="form-control"> </div>
                            <div class="form-group">
                                <p class="text-secondary">Si tienes un  <a href="#" class="alert-link">avatar account</a> tu Email será usado para mostrar su avatar</p>
                            </div>
                            <div class="form-inline"> <input type="checkbox" name="check" id="checkbx" class="mr-1"> <label for="subscribe">Suscribeme a la newlettter</label> </div>
                            <div class="form-group"> <button type="common-btn button" id="post" class="common-btn">Enviar Commentario</button> </div>
                        </form>
                    </div>
                    <div class="col-xl-6 col-lg-12 order-xl-2 order-lg-2 align-self-center "> 
                        <div class="text-justify darker mt-4 "> <img src="./img/Sandra.jpg" alt=""  width="80" height="120">
                            <h4>Sandra Gómez</h4> <span>- 20 Octubre, 2021</span> <br>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                        </div>
                        <div class="text-justify darker mt-4 "> <img src="./img/Curro.jpg" alt="" width="80" height="120">
                            <h4>Curro</h4> <span>- 12 Diciembre, 2021</span> <br>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                        </div>    
                    </div>
                    
                </div>
            </div>
            <hr>
        </section>




        <%- include ('partials/footer.html')%>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js></script>
    <script srd=https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js></script>
</body>

</html>