<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head.html'); %>
</head>

<body>
    <div class="container-fluid lh-lg">
        <header class="row"> 
            <!-- ========================================= Menú navegación ============================================== -->
            <nav>
             <%- include ('partials/navigation.html'); %>
            </nav>
        </header>
            <!-- ============================================== 1 Seo  =================================================== -->
        <section class="row mt-5 p-5">
            <div class="col-12 ">
                <h1 class="text-center fw-bolder mt-5">¿Qué es el Seo?</h1><br>
                <h2 class="text-center">Search Engine Optimization, en español Optimización para los Motores de Búsqueda</h2><hr><br>
                <p>El SEO aumenta la eficacia de su sitio web,<b> no basta con estar en Internet, hay que hacer un buen diseño de la web,
                     haciendo las cosas bien desde el principio</b>, teniendo en cuenta todos sus aspectos, como la elección de un <b>alojamiento 
                     adecuado, un dominio que nos represente, o un diseño de página web idóneo y técnicamente adecuado, así como una 
                     estrategia de social media ligada a nuestro trabajo de posicionamiento en buscadores..</b></p>
            </div> 

            <!--------------------------------------- 1. parte izquierda ------------------------------------------------------------------>
            <div class="row">
                <div class="col-xl-6 col-lg-12 order-xl-1 order-sm-1 order-lg-2 mt-5 text-justify">
                    <ul>
                        <li>
                            <p> Desde el punto de vista del usuario, <b>el SEO facilitará la búsqueda de un término y el motor de búsqueda podrá 
                                devolver los resultados más relevantes</b>. El trabajo duro habrá dado sus frutos si conseguimos estar entre los 
                                primeros resultados, lo cual aumentará nuestro número de visitas y, por tanto, muy probablemente, nuestras ventas.</p>
                        </li>
                        <li>
                            <p>Optimizar nuestro sitio web para los motores de búsqueda no es fácil, encontraremos cientos de directrices y mejores 
                                prácticas que cambian rápidamente porque debemos ser conscientes de que <b>es un trabajo constante que da sus frutos a
                                largo plazo</b>. El SEO consta de <b>dos componentes principales</b> de los que hablaremos a coontinuación: <b> el SEO on page y 
                                el SEO off page</b>.</p> 
                        </li><br>
                    </ul>    
                </div>
            
                <!--------------------------------------- 1. parte derecha ------------------------------------------------------------------>
                <div class="col-xl-6 col-lg-12 order-xl-2 order-lg-1 mt-5 align-self-centertext-justify">
                    <img src="./img/seo.jpg" style="width:100%; height:100%" alt="">
                </div>
            </div>
            <!--------------------------------------- 2º parte izquierda ------------------------------------------------------------------>
            <div class="row mt-5">
                <div class="col-xl-6 col-lg-12 mt-5 text-justify align-self-center">
                    <img src="./img/seonofpage.jpg" style="width:100%; height:100%" alt="">
                </div>
                <div class="col-xl-6 col-lg-12 mt-5 text-justify">
                    <h3 class="text-center">Seo OnPage</h3><br>
                    <ul>
                        <li>
                            <p>El Seo OnPage o posicionamiento interno <b>son aquellas acciones que deben integrarse en nuestra web y que están
                                relacionadas con el diseño</b>, la <b>correcta selección de palabras clave en nuestro contenido, la accesibilidad, la 
                                navegación, el uso de dispositivos móviles, las etiquetas en el código, el sitemap, etc</b>. Por eso el SEO debe estar
                                desde un principio presente a la hora de construir nuestra web.</p>
                        </li>
                    </ul>
                    <h3 class="text-center">Seo OffPage</h3><br>
                    <ul>
                        <li>
                            <p>El posicionamiento externo se refiere a las acciones que podemos hacer fuera de nuestra web, como <b>crear una buena estructura
                                de enlaces hacia nuestra web (link building), crear una comunidad en las redes sociales o promocionar nuestra web a través 
                                de un blog</b>. Todo esto mejorará nuestro PageRank.</p>
                        </li>
                    </ul>
                </div>
            </div>       
        </section>
        <div class="icons position-relative p-5">
            <!-- <span class="position-absolute bottom-0 start-50"><i class="fas fa-home fs-1"></i></span>  -->
            <a class="position-absolute bottom-0 end-0 fs-3 text-decoration-none" href="/seo-principiantes"><i class="fas fa-long-arrow-alt-right text-danger fs-1"></i> Seo-Básico para principiantes</a>
        </div>

        <%- include('partials/footer.html') %>

    </div> <!--//cierre del container  -->



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
 integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
 crossorigin="anonymous"></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js></script>
<script srd=https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js></script>
</body>

</html>