<footer class="container-fluid">
    <div class="row bg-dark text-white p-3 text-center">
        <div class="col-6">
            <i class="fab fa-youtube fa-5x"></i>
        </div>
        <div class="col-6">
            <h3>About us</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat ut debitis, ipsa odit 
                eius animi nemo dolorum quo facilis nam, ullam, impedit autem quod magni nobis aliquid 
                magnam ipsam architecto.</p>
        </div>
        <div>
            <hr class="bg-light">
            <p class="fs-5"><%= title%> 2021 todos los derechos resevados</p>
        </div>
    </div>
</footer>