<nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#home"><img src="./img/logo_parodiaSeo_119_70.png" class="animate__animated animate__flip animate__slower 2s"alt=""></p><br></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col-lg " id="navbarNav">
            <ul class="navbar-nav m-3">
                <li class="nav-item">
                    <a class="nav-link fs-5 active" aria-current="page" href="/"><i class="fas fa-home"></i>Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link fs-5  " href="/#basic-seo">Seo-Básico</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link fs-5 " href="/#web-structure">Estructura</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 " href="/#optimization">Contenido</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 " href="/#bots">Bots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 " href="/#movil-seo">Móviles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 " href="/#advertising">Publicidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 text-light" href="/#contact"><i class="fas fa-envelope"></i>Contáctanos</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 


<!-- <nav id="sideNav">
    <ul>
        <li><a href="#home" class="text-decoration-none fw-blod text-light">Home</a></li>
        <li><a href="#basic-seo" class="text-decoration-none fw-blod text-light">Seo Básico</a></li>
        <li><a href="#web-structure" class="text-decoration-none fw-blod text-light">Estructura Web</a></li>
        <li><a href="#optimization" class="text-decoration-none fw-blod text-light">Optimizar Contenido</a></li>
        <li><a href="#bots" class="text-decoration-none fw-blod text-light">Bots</a></li>
        <li><a href="#movile-seo" class="text-decoration-none fw-blod text-light">Seo Móviles</a></li>
        <li><a href="#promotion"class="text-decoration-none fw-blod text-light">Publicidad</a></li>
        <a href="#home" ><img src="images/Parodia.png" id="home" class="position-fixed top-0 end-0 me-5" alt="logo"></a>
    </ul>
</nav>

 <img src="images/134216_menu_lines_hamburger_icon.png" id="menuBtn" alt="menu">

<script>
    var menuBtn = document.getElementById("menuBtn");
    var sideNav = document.getElementById("sideNav");

    sideNav.style.right = "-285px";
    menuBtn.onclick = function() {
        if(sideNav.style.right == "-285px"){
            sideNav.style.right = "0px";
        } else {
            sideNav.style.right = "-285px";
        }
    }

    // sideNav.style.right = "-250px";
    // while (menuBtn.onmouseover); {
    //     sideNav.style.right == "0px"; 
    //     }
</script> -->




