@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif !important; 
  // overflow-x: hidden;
  font-size: 1rem !important;
  color: black !important;
}

p, aside, li, h1, h2, h3, h4{
  word-spacing: .3rem !important;
  letter-spacing: .1rem !important; 
}

h4{
  line-height: 1.5 !important;
}

h2 {
  color: rgb(250, 103, 250);
}

h3 {
  color: #864df7;
}

// --------------- navegacion ---------------------------

.nav-item {
  padding: 0px 8px;
  margin: 0px 3px;
  margin: center;
  border-radius: 5px;
  background-color: #666464;
}

.nav-item:hover {
  background-color: #923a92;
}

.nav-link {
  color: red;
}

.fas {
  padding-right: 5px;
}
.navbar-brand{
  width: 119px;
  height: 70px;
 }

.intro {
  height: auto;
  background-image: url(../img/A-Complete-Guide-for-Local-SEO.jpg);
  background-position: center;
  background-size: cover;
  div {
      margin-top:40px;
      .uno{
        background-color: rgba(193, 225, 255, 0.795);
      }
      .dos{
        background-color: rgba(167, 184, 151, 0.877);
      }
      .tres{
        background-color: rgba(167, 247, 200, 0.89);
      }
  }  
}

.square {
  height: 12px;
  width: 12px;
  display: inline-block;
  background-color: violet;
  margin-right: 15px;
}

.square-line {
  height: 2px;
  width: 200px;
  display: inline-block;
  background-color: violet;
}

.common-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: transparent;
  outline: none;
  border: 2px solid violet;
  font-weight: bold;
  cursor: pointer;
}

.card, .common-btn{
  transition: all 0.2s ease;
  cursor: pointer;
}

.card:hover, .common-btn:hover, .nav-item:hover{
  box-shadow: 3px 4px 4px 1px #a6a8aa;
  transform: scale(1.1);
}
.postit:hover{
  box-shadow: -3px -4px 6px 8px #f29ef5;
  transform: scale3d(1.1);
}

// ------------------------- post -it -------------------------------------------------------------------

//     box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);

/*============ COLORS ================*/
.postit[data-color="pink"] {
    background: #b8d8d8;
}
.postit[data-color="pink"] .description {
    color: rgb(225, 92, 225);
}
// ------------ violeta -------------
.postit[data-color="purple"] {
  background: #864df781;
}
.postit[data-color="purple"] .description {
  color: #fcfcfc;
}
.postit[data-color="purple"] .category {
  color: #5a283d;
}
// ------------- verde ---------------
.postit[data-color="green"] {
    background: #03b30334;
}
.postit[data-color="green"] .description {
    color: hsl(0, 0%, 0%);
}
.postit[data-color="green"] .category {
    color: #2a8ed1;
}
// ------------- rojo ----------------
.postit[data-color="red"] {
  background: #fc05053d;
}
.postit[data-color="orange"] .description {
  color: #000000;
}
.postit[data-color="orange"] .category {
  color: #e95e37;
}

.card[data-color="yellow"] {
    background: #ffe28c;
}
.card[data-color="yellow"] .description {
    color: #b25825;
}
.card[data-color="yellow"] .category {
    color: #d88715;
}

.card[data-color="brown"] {
    background: #d6c1ab;
}
.card[data-color="brown"] .description {
    color: #75442e;
}
.card[data-color="brown"] .category {
    color: #a47e65;
}

.card[data-color="orange"] {
    background: #ff8f5e;
}
.card[data-color="orange"] .description {
    color: #772510;
}
.card[data-color="orange"] .category {
    color: #e95e37;
}

// ================================ formulario ==============================

#post {
  margin: 10px;
  padding: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  background-color: #ecb21f;
  border-color: #a88734 #9c7e31 #846a29;
  color: rgb(243, 239, 239);
  border-width: 1px;
  border-style: solid;
  border-radius: 13px;
  width: 50%
}

body {
  background-color: rgb(241, 238, 238)
}

#nav-items li a,
#profile {
  text-decoration: none;
  color: rgb(224, 219, 219);
  background-color: rgb(19, 18, 18)
}

.comments {
  margin-top: 5%;
  margin-left: 20px
}

.darker {
  border: 1px solid #ecb21f;
  // background-color: rgb(235, 233, 233);
  float: right;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px
}

.comment {
  border: 1px solid rgba(16, 46, 46, 1);
  background-color: rgba(16, 46, 46, 0.973);
  float: left;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px
}


.form-group h4{
  color:rgb(170, 170, 170);
}


.darker p,
.darker span {
  color: rgb(0, 0, 0);
}


label {
  color: rgb(212, 208, 208)
}


.form-group p a {
  color: white
}

#checkbx {
  background-color: black
}

#darker img {
  margin-right: 15px;
  position: static
}

.form-group input,
.form-group textarea {
  background-color: rgb(241, 237, 237);
  border: 1px solid rgba(16, 46, 46, 1);
  border-radius: 12px
}

form {
  padding: 20px;
  border-radius: 12px;
}



//  @media(min-width:768px) and (max-width:992px){
//     .basic-seo-col{
//        display: flex;
//        justify-content:center;
//        align-items:center;
//      } 
//   } 




// ----------------------------------- footer --------------------------------------------------------

.dk-footer {
  padding: 90px 0 0;
  color: white;
  background-color: #151414;
  z-index: 2; }
  
// ---------------------------- 1 col --------------------------------------
.dk-footer-box-info {
  background: #202020;
  padding: 40px;
  z-index: 2; }
  .dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px; }
  .dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .dk-footer-box-info .footer-social-link li {
    display: inline-block; }
  .dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff; }
    .dk-footer-box-info .footer-social-link a i.fa-facebook {
      background-color: #3B5998; }
    .dk-footer-box-info .footer-social-link a i.fa-twitter {
      background-color: #55ACEE; }
    .dk-footer-box-info .footer-social-link a i.fa-google-plus {
      background-color: #DD4B39; }
    .dk-footer-box-info .footer-social-link a i.fa-linkedin {
      background-color: #0976B4; }
    .dk-footer-box-info .footer-social-link a i.fa-instagram {
      background-color: #B7242A; }


//------------------------- 2 col ----------------------------



// =============================== 3 col ============================
.contact-us{
  margin-bottom: 20px;
  div i {
    font-size: 18px;
    color:#864df7;
  }
  .contact-info {
    color: #fff; 
    font-size:16px;
  }     
}



// ------------------- footer widget--------------------- subscribe

.footer-widget ul {
  width: 100%;
  // float: left;
  list-style: none;
  margin: 0;
  padding: 20px; }

.footer-widget li {
  margin-bottom: 18px; }

.footer-widget p {
  margin-bottom: 27px; }

.footer-widget a {
  color: #878787;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .footer-widget a:hover {
    color: #864df7;; }

.footer-widget:after {
  content: "";
  display: block;
  clear: both; }

// ------------------------footer form ------------------- form

.dk-footer-form {
  position: relative; }
  .dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #864df7;;
    background: rgb(250, 103, 250);;
    color: #fff; }
  .dk-footer-form button:hover {
    cursor: pointer; }







//============================= copyright ---------------------------------/

.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020; }
  .copyright span,
  .copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .copyright a:hover {
    color:#007bff; }

.copyright-menu ul {
  text-align: right;
  margin: 0; }

.copyright-menu li {
  display: inline-block;
  margin: 1px; }

.back-to-top {
  position: relative;
  z-index: 2; }
  .back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .back-to-top .btn-dark:hover {
      cursor: pointer;
      background: #FA6742;
      border-color: #FA6742; }